/* Base Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Centered Form Styling */
form {
    max-width: 420px;
    margin: 20px auto 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 8px;
}

/* Student Info Styling */
.student-info {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* Input Styling */
input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button Styling */
input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style for the label */
.subheading {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style for the dropdown menu */
select#cuisine,
select#language {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style for the dropdown options */
select#cuisine option,
select#language option {
    font-size: 16px;
}

/* Styling for a container to group checkboxes */
.checkbox-container {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for the individual checkbox groups */
.checkbox-group {
    flex: 0 0 calc(50% - 5px);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

/* Styling for labels associated with checkboxes */
label.checkbox-label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}